@use './styles/_reset';
@use './styles/variables' as v;
@use './styles/mixins' as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  font-family: v.$font-body;
  font-size: v.$font-size-md;
  line-height: v.$line-height-body;
  color: v.$color-text;
  background-color: v.$color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

#root {
  position: relative;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  will-change: transform;
}

main {
  position: relative;
  z-index: 1;
  will-change: transform;
  
  section {
    min-height: 100vh;
    position: relative;
    will-change: transform;
  }
}